In [ ]:
#1

def mul_table(x):
    for i in range(1,11):
        print(str(x) + " times " + str(i) + " is: " + str(x*i))
        
num = int(input("Enter: "))
table(num)

Enter: 9
9 times 1 is: 9
9 times 2 is: 18
9 times 3 is: 27
9 times 4 is: 36
9 times 5 is: 45
9 times 6 is: 54
9 times 7 is: 63
9 times 8 is: 72
9 times 9 is: 81
9 times 10 is: 90

In [ ]:
#2

def prime(x):
  for i  in range(2,x):
    if(x % i == 0):
      return False
  return True


for i in range(2,1001):
  j = i+2
  if(prime(i) and prime(j)):
    print(str(i) + ", " + str(j))

3, 5
5, 7
11, 13
17, 19
29, 31
41, 43
59, 61
71, 73
101, 103
107, 109
137, 139
149, 151
179, 181
191, 193
197, 199
227, 229
239, 241
269, 271
281, 283
311, 313
347, 349
419, 421
431, 433
461, 463
521, 523
569, 571
599, 601
617, 619
641, 643
659, 661
809, 811
821, 823
827, 829
857, 859
881, 883

In [ ]:
#3

def prime(x):
  for i  in range(2,x):
    if(x % i == 0):
      return False
  return True

def prime_factor(y):
  for i in range(2,y):
     if(y % i == 0 and prime(i)):
       while y % i== 0: 
            print(i), 
            y = y / i
        

num = int(input("Enter: "))
prime_factor(num)

Enter: 200
2
2
2
5
5

In [ ]:
#4

def fact(n):
   if n == 1:
       return n
   else:
       return n*fact(n-1)

n = int(input())
r = int(input())

npr = fact(n)/fact(n-r)
ncr = fact(n)/(fact(r)*fact(n-r))

print("nPr is: " + str(npr))
print("nCr is: " + str(ncr))

5
3
nPr is: 60.0
nCr is: 10.0

In [ ]:
#5

def convert_dtob(num):
  if(num == 0):
    return num
  else:
    convert_dtob(int(num/2))
    print(num%2)

num = int(input())
convert_dtob(num)

24
1
1
0
0
0

In [ ]:
#6

def cubesum(num):
  res = list(map(int, str(num)))
  sum = 0
  for i in res:
    sum = sum + i**3
  return sum
  
def PrintArmstrong(num):
  if cubesum(num) == num:
    return True

def isArmstrong(num):
  if PrintArmstrong(num):
    print("Yes it is an Armstrong number!")
  else:
    print("No, Don't waste time!")

num = int(input())
isArmstrong(num)

153
Yes it is an Armstrong number!

In [ ]:
#7

def prodDigits(num):
  res = list(map(int, str(num)))
  prod = 1 
  for i in res:
    prod = prod*i
  return prod

num = int(input())
prodDigits(num)

168

48

In [ ]:
#8

def MDR(num):
  if len(str(num)) == 1:
    return num
  else:
     while len(str(num)) > 1:
       num = prodDigits(num)
  return num

def MPersistence(num):
  count = 0
  while len(str(num)) > 1:
    num = prodDigits(num)
    count += 1
  return count

num = 86

print("For {0} MDR is {1} and M Persistance is {2}".format(num, MDR(num), MPersistence(num)))

For 86 MDR is 6 and M Persistance is 3

In [9]:
#9

def SumPdivisors(num):
  divisors = []
  for i in range(1,num):
    if num % i == 0:
      divisors.append(i)
  return sum(divisors)
    
SumPdivisors(282)

294

In [ ]:
#10

start = int(input())
end = int(input())

def PerfNum():
  lst = []
  for i in range(start, end+1):
    if(SumPdivisors(i) == i):
      lst.append(i)
  return lst
    
PerfNum()

1
100

[6, 28]

In [6]:
#11

start = int(input())
end = int(input())

def amicable_pair():
  lst = []
  for i in range(start, end+1):
    for j in range(i,end+1):
      if(SumPdivisors(i) == j):
        lst.append([i,j])
  return lst

amicable_pair()

200
300

[[200, 265],
 [204, 300],
 [208, 226],
 [220, 284],
 [222, 234],
 [224, 280],
 [246, 258],
 [258, 270],
 [272, 286],
 [282, 294]]

In [20]:
#12

def odd_nos(x):
  if x % 2 != 0:
    return x

numbers = []
n = int(input("Enter number of elements : "))  
for i in range(0, n): 
    ele = int(input()) 
    numbers.append(ele)

odd_nos_list = list(filter(odd_nos,numbers))
print(odd_nos_list)

Enter number of elements : 5
1
2
3
4
5
[1, 3, 5]

In [21]:
#13

def cube_nos(x):
  return x**3

numbers = []
n = int(input("Enter number of elements : "))  
for i in range(0, n): 
    ele = int(input()) 
    numbers.append(ele)

cube_nos_list = list(map(cube_nos,numbers))
print(cube_nos_list)

Enter number of elements : 5
1
2
3
4
5
[1, 8, 27, 64, 125]

In [22]:
#14

def cube_nos(x):
  return x**3

def even_nos(x):
  if x % 2 == 0:
    return x

numbers = []
n = int(input("Enter number of elements : "))  
for i in range(0, n): 
    ele = int(input()) 
    numbers.append(ele)

even_cube_nos_list = list(filter(even_nos,(map(cube_nos,numbers))))
print(even_cube_nos_list)

Enter number of elements : 5
1
2
3
4
5
[8, 64]